@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@500&display=swap');


body
{
    background: rgb(255, 255, 255);
   
}


.navbar
{
  
  background: #212529 !important;
  width: 100% !important;

}

#nav-bar.navbar
{
  width: 100%;
}

/*navbar links space between them*/
.navbar-nav > li{
    margin-left: 20px ;
    margin-right:50px;
  
  }

.nav-link
  {
      color: white !important;
  }

.nav-link:hover
  {
      color: rgb(4, 160, 250) !important;
     
  }


.buy
  {
    background-color: rgb(13, 110, 255);
    border-radius: 10px;
    height: 40px;
    width: 60px;
    text-align: center;
  }

.buy:hover 
  {
    background-color:rgb(27, 27, 27) !important;
    font-weight: bold;
  }


.container2
{
  width: 100%;
  margin: 76px auto;
  height: fit-content;
  
}



.main_banner > img
{
  width: 100% !important;
  height: 100%;
  background-size: cover;
 
}


#video 
{
  display: flex;
  width: 90%;
  height: 650px;
  margin: 100px auto;
 justify-content: center;
}

.sidebyside
{
  display: flex;
  list-style: none;
  
}

.sidebyside > img
{
  width: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    margin: 10px 4px;
    overflow: hidden;
   
}

.long-img > img
{
  width: 100%;
  height: auto;
  margin-top: 50px;
}


.container3
{
  width: 80%;
  margin: 0 auto 150px;
  height: auto;
  border-bottom: 1px solid rgb(138, 138, 138);

}

.Techspecs
{
  background: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
 
}
.Spec_title
{

  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  border-top: 1px solid rgb(138, 138, 138) ;
  font-weight: bold;
 
}
.specs-ex
{
  color: rgb(121, 121, 121);
  padding: 10px;
  list-style-type: none;
  margin: 0px 100px;
}
.specs-ex > li
{
  margin-bottom: 10px;
}
.sub-title
{
  color: rgb(63, 63, 63);
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
}


#footer
{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #212529;
  height: auto;
  align-items: center;

 
}



.design 
{

  color: white;
  align-self: center;

}
.developed
{
  color: rgb(34, 255, 14);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.developed:hover
{
  color: rgb(255, 255, 255);
  text-align: center;
}

/*Buy Product CSS*/
.container4
{

  width: 100%;
  height: auto;
  
  
}

.Product-Image
{
  display: flex;
  margin: 120px auto;
  flex-wrap:wrap;
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin-bottom: 30px; 
  
}

.Product-Image > img
{
  width:90%;
  height: auto;
  margin: auto;

 
}

.product-color
{
  display:flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  height:auto;
  margin-top: 20px;
  margin-bottom: 30px;

}

.available 
{

  width: 100%;
  height: auto;
  
}

.available > p
{
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  font-weight: bold;
  text-align: center;


}


.Color > img
{

  border: 1px solid rgb(255, 255, 255);
  width:50px !important;
  height:auto;
  margin:10px 5px 40px 10px;
  transition: transform .2s;
  

}

.Color > img:hover
{
  transform: rotate(90deg);
}

.buy-airpods
{
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
 
}

.buy-price
{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid rgb(41, 41, 41);
  text-decoration: none;
  color: black;

}


.buy-products
{
  margin-bottom: 100px;
 
}

/*Grid Poster CSS*/
.parent 
{
  display: grid;
  width: 90%;
  height:500px;
  margin: auto;
  grid-template-columns: repeat(6,2fr);
  grid-template-rows: repeat(14, 2fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
 

}
  
.div1 
  {
    background-image: url(https://i.pinimg.com/originals/fa/61/25/fa61252fb035b76e6cf459d898731607.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
     grid-area: 3 / 1 / 9 / 3;
     border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-position: center;
  }

.div2 
  { 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3QeOEnpWKibkNq1TUDJe4qe8CPMsj_Cw4aVjtN3dygX7b0gB6_fgaAZLIOuFXT5LH4Lg&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 1 / 3 / 5;   
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-position: center;
  }

.div3 
  { 
    background-image: url(https://i.ytimg.com/vi/wvgWMnmRTSM/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 3 / 3 / 6 / 5;   
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-position: center;
  }

.div4 
  { 
    background-image: url(https://images.hindustantimes.com/tech/img/2021/01/20/600x338/apple_airpods-max_listening-experience_12082020_1607436166839_1607436177882_1611145714739.jpg);
    grid-area: 6 / 3 / 9 / 8;   
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);;
    border-radius: 5px;
    
   }

.div5 
  { 
    background-image: url(https://i.pinimg.com/originals/fd/6f/15/fd6f15d0c19118ffe4e3ce5beb541707.png);

    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 5 / 6 / 8;   
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-position: center;
   }

.div6
  { 
    background-image: url(https://i.ytimg.com/vi/YZNearcOsXg/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 9 / 1 / 15 / 8;   
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
     
  }

.grid-title
  {
    font-family: 'Heebo',sans-serif;
    font-size: 80px;
    text-align: center;
  }

#form
{
  width: 100%;
  margin: 0px auto 30px;
  
}


.email
{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;  
    font-weight: bold;
      
  
}
#email
{

  height: 35px;
  font-size: 14px;
  width:60%;
  text-transform: uppercase;
  border: 1px rgb(107, 107, 107) solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:0 auto;
}

#email::placeholder:hover
{
  font-family: 'Times new roman', sans-serif;
 
}

#email:hover
{
  border:1px solid black;
  transition: border 1s;
}

#submit
{
  
    max-width: 150px;
    width: 100%;
    height: 40px;
    margin: 20px auto 100px;
    border: 0;
    background-color: #a7a7a7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;  
    font-weight: bold;
    border-radius: 2px;
  
}

#submit:hover
{
  background: #0e0e0e;
  transition: background-color 1s, color 1s;
  color: white;
}


/*media query for responsiveness*/
@media  (min-width:1024px),(min-width:1366px)
{
  
    #video 
    {
      display: flex;
      width: 90%;
      height: 550px;
      margin: 100px auto;
    justify-content: center;
    }

    .container-fluid
    {
      width: 100% !important;
    }

    .parent 
    {
      display: grid;
      width: 80%;
      height:1040px;
      margin: auto;
      grid-template-columns: repeat(6,2fr);
      grid-template-rows: repeat(14, 2fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px;
    }
    .container4
    {
    
      width: 100%;
      height: auto;
      
      
    }
    
    .Product-Image
    {
      display: flex;
      margin: 120px auto;
      flex-wrap:wrap;
      width: 100%;
      height: auto;
      max-width: 1440px;
      margin-bottom: 30px; 
      
    }
    
    .Product-Image > img
    {
      width:50%;
      height: auto;

    
     
    }
    
    .product-color
    {
      display:flex;
      flex-direction: column;
      margin: auto;
      justify-content: flex-start;
      align-items: center;
      width:50%;
      height:auto;
      margin-top: 20px;
      margin-bottom: 30px;
      
    
    }

    .available > p
    {
      font-family: 'Roboto', sans-serif;
      font-size:50px;
      font-weight: bold;
      text-align: center;


    }


  .Color > img
  {

    border: 1px solid rgb(255, 255, 255);
    width:60px !important;
    height:auto;
    margin:50px 5px 40px 30px;
    transition: transform .2s;
    

  }

  .Color > img:hover
  {
    transform: rotate(90deg) scale(1.2);
  }

  .buy-airpods
  {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    text-align: center;
  
  }

  .buy-price
  {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid rgb(41, 41, 41);

  }

}
@media (min-width:800px)
{
  .Product-Image
  {
    display: flex;
    margin: 120px auto;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin-bottom: 30px; 
    
  }
  
  .Product-Image > img
  {
    width:50%;
    height: auto;

  
   
  }
  
  .product-color
  {
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 30px;
    
  
  }
  .Color > img
  {

    border: 1px solid rgb(255, 255, 255);
    width:60px !important;
    height:auto;
    margin:50px 5px 40px 10px;
    transition: transform .2s;
    

  }
}

@media (max-height:1024px) 
{
  .grid-title
  {
    font-family: 'Heebo',sans-serif;
    font-size:80px;
    text-align: center;
    color: #0e0e0e;
  }
}

@media (max-width:1212px)
{
  .grid-title
  {
    font-family: 'Heebo',sans-serif;
    font-size:60px;
    text-align: center;
    color: #0e0e0e;
  }
}

@media (max-width:911px)
{
  .navbar-nav > li
  {
        margin-left:10px !important;
        margin-right:30px;  
  }
  
  .parent 
  {
    display: grid;
    width: 80%;
    height:750px;
    margin: auto;
    grid-template-columns: repeat(6,2fr);
    grid-template-rows: repeat(14, 2fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
   
  
  }

  
  .img > img 
  {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 80% ;
    height: auto ;
    border-radius: 5px;
    
    
  }

/*#colour-selectors
  {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 50px -100px;  get space between the colour selectors **fixed** 
  height: 60px;
  width: fit-content;
  background: transparent;
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: bold;
  }

  buy .desc2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 250px -300px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: rgb(216, 216, 216);
  }
 .centered_title
  {
    position: absolute;
    top: -180px;
    left: 100px;
    transform: translate( 6%, 720%);
    color: rgb(255, 255, 255);
    font-size: 7vw;
    opacity: 1;
    font-family: 'Philosopher', sans-serif;
  } */ 
  .sidebyside > img
  {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px 0px;
      padding: 5px;
      overflow: hidden;
    
  }

  #video 
  {
    display: flex;
    width: 80%;
    height: 350px;
    margin: 60px 80px;

  }
  .grid-title
  {
    font-family: 'Heebo',sans-serif;
    font-size:40px;
    text-align: center;
    color: #0e0e0e;
  }
  
}
/*media query for mobile responsiveness*/
@media (max-width: 607px) 
{
  .img > img 
  {
    width: 100%;
  }
  .grid-title
  {
    font-family: 'Heebo',sans-serif;
    font-size:30px;
    text-align: center;
    color: #0e0e0e;
  }
}


@media (max-width:425px)
{
 

        #video 
    {
      display: flex;
      width: 90%;
      height: 200px;
      margin: 60px 20px;

    }

    .sidebyside > img
    {
      width: 50%;
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        margin: 10px 0px;
      
    }

    .specs-ex
    {
      color: rgb(121, 121, 121);
      padding: 10px;
      list-style-type: none;
      margin: 0px 0px;
    }
    .grid-title
    {
      font-family: 'Heebo',sans-serif;
      font-size:22px;
      text-align: center;
      color: #0e0e0e;
    }


}

@media (max-width:480px)
{

  #video 
  {
    display: flex;
    width: 90%;
    height: 200px;
    margin: 60px 20px;

  }

  .long-img > img
  {
  width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid red;
  overflow: hidden;
  }
}

@media (max-width:320px)
{
 
  .product-color
{
  display:flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  height:auto;
  margin-top: 20px;
  margin-bottom: 30px;

}

.Color > img
{

  border: 1px solid rgb(255, 255, 255);
  width:50px !important;
  height:auto;
  margin:10px 5px 40px 5px;
  transition: transform .2s;
  

}

   
}





